.todo {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;

  .todo__group {
    display: flex;
    align-items: center;
    width: calc(95% - 68px);

    .todo__checkbox {
      margin-right: 5px;
    }

    .todo__text {
      overflow-wrap: break-word;
      padding: 5px;
      width: 100%;
    }

    .todo__input {
      padding: 5px;
      border-radius: 4px;
      border: none;
      background: rgba(0, 0, 0, 0.15);
      outline: none;
      font-size: 16px;
    }
  }

  .todo__buttonsGroup {
    display: flex;
    width: 68px;
    justify-content: flex-end;
    align-items: center;

    .todo__button {
      display: flex;
      margin: 0 5px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      border-radius: 5px;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #0000000c;
      }

      &:active {
        background: #00000022;
      }
    }
  }
}
