.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-top: 10px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 35%);
  }

  .footer__button {
    cursor: pointer;

    &:hover {
      background: #e4e4e4;
    }

    &:active {
      background: #c2c2c2;
    }
  }
}
