.todos {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 100%;
  height: 85%;
  max-height: 85%;
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 35%);

  .todos__filters {
    display: flex;
    width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    z-index: 10;

    .filters__item {
      padding: 10px;
      color: rgba(0, 0, 0, 0.3);
      cursor: pointer;

      &:hover {
        border-radius: 4px;
        background: #e4e4e4;
      }
    }
  }

  .todos__list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
  }
}
