.filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 95px);
  gap: 8px;
  margin-top: 16px;

  .filter-item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    padding: 12px;
    background: rgb(var(--mdui-color-surface-container-lowest));
    border: 2px solid rgb(var(--mdui-color-on-background));
    transition: all 0.2s linear;
    text-align: left;

    &.active {
      background: rgb(var(--mdui-color-primary-container));
      border-color: rgb(var(--mdui-color-primary-container));
      color: rgb(var(--mdui-color-primary));
      box-shadow: var(--mdui-elevation-level2);
    }

    .filter-item__data {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 4px;
      align-items: flex-end;

      .filter-item__name {
        font-size: 16px;
      }

      .filter-item__value {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}