.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 35%);

  .form__input {
    outline: none;
    border: none;
    font-size: 16px;
    width: 95%;
  }

  .form__button {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: #0000000c;
    }

    &:active {
      background: #00000022;
    }
  }
}
