*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: Roboto, sans-serif !important;

  scrollbar-width: auto;
  scrollbar-color: #c9c9c9 #ffffff;

  ::-webkit-scrollbar {
    width: 5px;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(0 0 0 / 20%);
    border: none;
    border-radius: 10px;

    &:hover {
      background: rgb(0 0 0 / 30%);
    }

    &:active {
      background: rgb(0 0 0 / 35%);
    }
  }
}

* {

}

body {
  background: linear-gradient(
    149deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}
